body{
    background-color: #293742;
    margin: 0;
    padding: 0;
}

.app-root{
    display: flex;
    flex-direction: space-around;
}

.app-nav{
    border-right-style: outset;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 10px;
    height: 900px;
}

.app-nav-header{
    margin-bottom: 20px;
}

.app-logo{
    margin-right: 15px;
}

.app-content{
    width: 100%;
    margin-left: 30px;
    padding: 20px;
    background-color: #293641;
}

.forms-header{
    border-bottom: 3px Solid grey;
}

.forms-section{
    margin-top: 10px;
}

.forms-section-content{
    display: flex;
    flex-direction: column;
}

.forms-content-title{
    margin-top: 20px;
}

.forms-name{
    display: flex;
    margin-right: 50px;
}

.forms-birth{
    display: flex;
}

.forms-adress{
    display: flex;
}

.forms-location{
    display: flex;
}

.forms-contact{
    display: flex;
}

.forms-input{
    display: flex;
    flex-direction: column;
}

.forms-label{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.forms-field{
    margin-right: 25px;
}

.forms-horizontal-section{
    display: flex;
    margin-top: 25px;
}

.second-horizontal-element{
    margin-left: 50px;
}

.third-horizontal-element{
    margin-left: 50px;
}
